---
import Layout from "../layouts/Layout.astro";
---


<Layout title="about" >
    <h1>
        About
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, consequatur dolorum mollitia dignissimos beatae quisquam quia quaerat tempore dolorem perferendis qui facere itaque libero cumque, explicabo dolores. Quod consectetur nobis quidem cum. Excepturi totam mollitia a aperiam ipsum cupiditate inventore provident accusantium reiciendis necessitatibus commodi ex ut, fuga sunt harum?</p>
</Layout>